/*https://dribbble.com/colors/66eece?percent=30 */
/*http://angrytools.com/gradient/*/
/*https://icons8.com/web-app/for/all/clear*/
body{
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	background: -moz-linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 49%, #66eece 50%, #66eece 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66eece), color-stop(50%, #66eece), color-stop(51%, #FFFFFF), color-stop(100%, #FFFFFF)); /* safari4+,chrome */
	background: -webkit-linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 49%, #66eece 50%, #66eece 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 49%, #66eece 50%, #66eece 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 49%, #66eece 50%, #66eece 100%); /* ie10+ */
	background: linear-gradient(320deg, #FFFFFF 0%, #FFFFFF 49%, #66eece 50%, #66eece 100%); /* w3c */

}
.container-fluid{
	width: 100%;
	margin:auto;
	margin-top: 50px;
}

h1{
	text-align: center;
}

.well{
	margin:auto;
	width: 340px;
	padding: 15px;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #ccc;
	box-shadow:         5px 5px 5px 0px rgba(204, 204, 204, 0.75);
}

#calculator-content{
	width: 90%;
	margin:auto;
}

#entryScreen{
	background-color: #66eece;
	/*background-color: #02b875*/
	text-align: right;
}

#entryField{
	font-size: 60px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#operation{
	background-color:#30e8bd;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 2px;
}

.row{

  display: flex !important;   
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}

#btn_allClear>img{
  /*filter: invert(100%);*/
   height: 28px;
   width: 28px;
}


button{
	width: 25%;
	height: 70px;
  	font-size: 24px;
  	font-weight: lighter;
  	background-color: white;
  	border-style: solid;
  	border-right: 0;
  	border-bottom: 0;
	border-width: thin;

	border-color: #66eece;
	border-color: #ccc;
	padding: 0px 12px; 
	cursor:pointer;
	 -webkit-appearance: none;
	 box-sizing: border-box;
}


button:focus{
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

/*do nth child for row*/
#btn_divide, #btn_multiply, #btn_subtract, #btn_add, #btn_equals{
	border-right-style: solid !important;

}

#btn_0, #btn_dec{
	border-bottom-style: solid !important;
}


#btn_0{
	width: 50%;
}

#btn_equals{
	background-color: #66eece;
	border-color: #66eece;

}
